[supervisord]

[program:db]
command=/usr/sbin/ovsdb-server --remote=punix:/var/run/openvswitch/db.sock --pidfile=/app/mount/ovsdb-server.pid
user=root
autostart=true
autorestart=true
stdout_logfile=/app/mount/ovs-db.log
stderr_logfile=/app/mount/ovs-db.log.error
pidfile=/app/mount/ovsdb-server.pid
redirect_stderr=true
redirect_stdout=true

;[program:server]
;command=/usr/sbin/ovs-vswitchd --pidfile=/app/mount/ovs-vswitchd.pid
;user=root
;autostart=true
;autorestart=true
;stdout_logfile=/app/mount/ovs-server.log
;stderr_logfile=/app/mount/ovs-server.log.error
;pidfile=/app/mount/ovs-vswitchd.pid
;redirect_stderr=true
;redirect_stdout=true